In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import time
import seaborn as sns

In [2]:
train_set = pd.read_csv(r'C:\Users\Ismat\OneDrive\Рабочий стол\document\etc\lesson_course\projects\cosmic_disaster\train.csv')
test_set = pd.read_csv(r'C:\Users\Ismat\OneDrive\Рабочий стол\document\etc\lesson_course\projects\cosmic_disaster\test.csv')

## Trainset exploring

In [194]:
train_set

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [3]:
train_set['Transported'][train_set['Transported']==True]=1
train_set['Transported'][train_set['Transported']==False]=0

C:\Users\Ismat\AppData\Local\Temp\ipykernel_5224\743164992.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_set['Transported'][train_set['Transported']==True]=1

In [364]:
train_set['PassengerId'].nunique()

8693

In [121]:
train_set['HomePlanet'].value_counts()

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [10]:
train_set['CryoSleep'].value_counts()

False    5439
True     3037
Name: CryoSleep, dtype: int64

In [12]:
train_set['Cabin'].nunique()

6560

In [14]:
train_set['Destination'].value_counts()

TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: Destination, dtype: int64

In [15]:
train_set['Age'].nunique()

80

In [16]:
train_set['Age'].max()

79.0

In [17]:
train_set['Age'].min()

0.0

In [21]:
train_set['Age'].min()

0.0

In [21]:
train_set[train_set['Age']==0]['Age'].value_counts()

0.0    178
Name: Age, dtype: int64

In [25]:
train_set['VIP'].value_counts()

False    8291
True      199
Name: VIP, dtype: int64

In [28]:
train_set['RoomService'].nunique()

1273

In [29]:
train_set['RoomService'].max()

14327.0

In [30]:
train_set['RoomService'].min()

0.0

In [31]:
train_set['FoodCourt'].nunique()

1507

In [32]:
train_set['FoodCourt'].max()

29813.0

In [33]:
train_set['FoodCourt'].min()

0.0

In [34]:
train_set['ShoppingMall'].nunique()

1115

In [35]:
train_set['ShoppingMall'].max()

23492.0

In [36]:
train_set['ShoppingMall'].min()

0.0

In [37]:
train_set['Spa'].nunique()

1327

In [38]:
train_set['Spa'].max()

22408.0

In [39]:
train_set['Spa'].min()

0.0

In [40]:
train_set['Name'].nunique()

8473

In [365]:
train_set['Transported'].value_counts()

1    4378
0    4315
Name: Transported, dtype: int64

In [366]:
train_set.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [338]:
train_set.duplicated().sum()

0

In [339]:
train_set.describe()

          Age  RoomService  FoodCourt  ShoppingMall      Spa   VRDeck
count 8514.00      8512.00    8510.00       8485.00  8510.00  8505.00
mean    28.83       224.69     458.08        173.73   311.14   304.85
std     14.49       666.72    1611.49        604.70  1136.71  1145.72
min      0.00         0.00       0.00          0.00     0.00     0.00
25%     19.00         0.00       0.00          0.00     0.00     0.00
50%     27.00         0.00       0.00          0.00     0.00     0.00
75%     38.00        47.00      76.00         27.00    59.00    46.00
max     79.00     14327.00   29813.00      23492.00 22408.00 24133.00

In [340]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   object
dtypes: float64(6), object(8)
memory usage: 950.9+ KB

## target and feature

In [4]:
features=['HomePlanet','CryoSleep','Destination','Age','VIP','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
target = ['Transported']

## Imputation trainset

In [329]:
# old school
# train_set.HomePlanet.fillna(train_set.HomePlanet.mode()[0], inplace = True)
# train_set.CryoSleep.fillna(train_set.CryoSleep.mode()[0], inplace = True)
# train_set.Destination.fillna(train_set.Destination.mode()[0], inplace = True)
# train_set.Age.fillna(train_set.Age.mode()[0], inplace = True)
# train_set.VIP.fillna(train_set.VIP.mode()[0], inplace = True)
# train_set.RoomService.fillna(train_set.RoomService.mode()[0], inplace = True)
# train_set.FoodCourt.fillna(train_set.FoodCourt.mode()[0], inplace = True)
# train_set.ShoppingMall.fillna(train_set.ShoppingMall.mode()[0], inplace = True)
# train_set.Spa.fillna(train_set.Spa.mode()[0], inplace = True)
# train_set.VRDeck.fillna(train_set.Spa.mode()[0], inplace = True)

In [5]:
train_set_featured=pd.get_dummies(train_set[features])
# train_set_featured

In [6]:
from sklearn.impute import KNNImputer
imputer = KNNImputer()
train_imputed=imputer.fit_transform(train_set_featured)
train_imputed=pd.DataFrame(train_imputed)
# train_imputed.isna().sum()

## Testset exploring

In [7]:
test_set

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [345]:
test_set.isna().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [346]:
test_set.describe()

          Age  RoomService  FoodCourt  ShoppingMall      Spa   VRDeck
count 4186.00      4195.00    4171.00       4179.00  4176.00  4197.00
mean    28.66       219.27     439.48        177.30   303.05   310.71
std     14.18       607.01    1527.66        560.82  1117.19  1246.99
min      0.00         0.00       0.00          0.00     0.00     0.00
25%     19.00         0.00       0.00          0.00     0.00     0.00
50%     26.00         0.00       0.00          0.00     0.00     0.00
75%     37.00        53.00      78.00         33.00    50.00    36.00
max     79.00     11567.00   25273.00       8292.00 19844.00 22272.00

In [347]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

## Imputation testset

In [328]:
# old school tactics
# test_set.HomePlanet.fillna(test_set.HomePlanet.mode()[0], inplace = True)
# test_set.CryoSleep.fillna(test_set.CryoSleep.mode()[0], inplace = True)
# test_set.Destination.fillna(test_set.Destination.mode()[0], inplace = True)
# test_set.Age.fillna(test_set.Age.mode()[0], inplace = True)
# test_set.VIP.fillna(test_set.VIP.mode()[0], inplace = True)
# test_set.RoomService.fillna(test_set.RoomService.mode()[0], inplace = True)
# test_set.FoodCourt.fillna(test_set.FoodCourt.mode()[0], inplace = True)
# test_set.ShoppingMall.fillna(test_set.ShoppingMall.mode()[0], inplace = True)
# test_set.Spa.fillna(test_set.Spa.mode()[0], inplace = True)
# test_set.VRDeck.fillna(test_set.Spa.mode()[0], inplace = True)

In [8]:
test_set_featured=pd.get_dummies(test_set[features])
# test_set_featured

In [9]:
from sklearn.impute import KNNImputer
imputer = KNNImputer()
test_imputed=imputer.fit_transform(test_set_featured)
test_imputed=pd.DataFrame(test_imputed)
# test_imputed.isna().sum()

## Splitting

In [10]:
X = train_imputed
y = train_set[target].astype('int')
prediction=test_imputed

## Modelling

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 47)

In [12]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
scaled_prediction=sc.fit_transform(prediction)

In [30]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

classifier = RandomForestClassifier(n_estimators = 1000,bootstrap=True,criterion = 'gini',random_state = 47,max_depth=44,min_samples_leaf=5,min_samples_split=5,max_features=5)

classifier.fit(X_train, np.ravel(y_train))

y_pred = classifier.predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.79      0.80      1077
           1       0.80      0.83      0.81      1097

    accuracy                           0.81      2174
   macro avg       0.81      0.81      0.81      2174
weighted avg       0.81      0.81      0.81      2174

## saving submission

In [31]:
submission=classifier.predict(scaled_prediction)

output = pd.DataFrame({'PassengerId': test_set.PassengerId, 'Transported': submission})

output['Transported'][output['Transported']==1]=True
output['Transported'][output['Transported']==0]=False
output

C:\Users\Ismat\AppData\Local\Temp\ipykernel_5224\1322845892.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['Transported'][output['Transported']==1]=True

     PassengerId Transported
0        0013_01        True
1        0018_01       False
2        0019_01        True
3        0021_01        True
4        0023_01        True
...          ...         ...
4272     9266_02        True
4273     9269_01       False
4274     9271_01        True
4275     9273_01        True
4276     9277_01        True

[4277 rows x 2 columns]

In [32]:
output.to_csv('RF.csv', index=False)